<div class="header">
  <div (click)="scrollToContainer('myPicture')" id="name">
    Kristia<span class="last-letter">n</span>
  </div>

  <!-- MOBILE -->
  <div class="header_overlay">
    <img
      (click)="openMenu()"
      class="cursorPointer"
      style="height: 20px"
      src="../../assets/img/mySkills/burger menu.png"
      alt=""
    />
  </div>

  <!-- DESKTOP -->
  <div class="menu">
    <div
      (click)="setActiveElementAboutMe('aboutMePurpleDiv')"
      [class.activeAboutMe]="activeAboutMe === 'aboutMePurpleDiv'"
    >
      About me
      <div id="aboutMePurpleDiv" class="purpleLineMenu"></div>
    </div>

    <div
      (click)="setActiveElementSkills('skillsPurpleDiv')"
      [class.activeSkills]="activeSkills === 'skillsPurpleDiv'"
    >
      Skills
      <div id="skillsPurpleDiv" class="purpleLineMenu"></div>
    </div>

    <div
      (click)="setActiveElementPortfolio('portfolioPurpleDiv')"
      [class.activePortfolio]="activePortfolio === 'portfolioPurpleDiv'"
    >
      Portfolio
      <div id="portfolioPurpleDiv" class="purpleLineMenu"></div>
    </div>
  </div>
</div>
