section {
  margin-top: unset;
  background-color: #141d2f;
  position: fixed;
  top: 0;
  z-index: 10000;
  
}

#kcLogo {
  height: 40px;
}

.menu {
  display: none;
}

.header_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  display: flex;
  font-size: clamp(25px, 2vw, 40px);
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutMePurpleDiv {
  display: none;
}

#skillsPurpleDiv {
  display: none;
}

#portfolioPurpleDiv {
  display: none;
}

.activeAboutMe {
  #aboutMePurpleDiv {
    display: flex;
  }
}

.activeSkills {
  #skillsPurpleDiv {
    display: flex;
  }
}

.activePortfolio {
  #portfolioPurpleDiv {
    display: flex;
  }
}

.x {
  display: none;
}

@media screen and (min-width: 912px) {
  .menu {
    display: flex;
  }

  .header_overlay {
    display: none;
  }
}
