.menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .header_overlay {
    display: none;
  }
}

#name {
  font-size: clamp(13px, 2vw, 3vw);
  cursor: pointer;
}

#aboutMePurpleDiv {
    display: none;
}

#skillsPurpleDiv {
    display: none;
}

#portfolioPurpleDiv {
    display: none;
}

.activeAboutMe {
    #aboutMePurpleDiv {
        display: flex;
    }
}

.activeSkills {
    #skillsPurpleDiv {
        display: flex;
    }
}

.activePortfolio {
    #portfolioPurpleDiv {
        display: flex;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000; 
}

