.menu {
  display: none;
}

.header_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

#name {
  font-size: clamp(25px, 2vw, 3vw);
  cursor: pointer;
  margin-left: 10%;
  font-weight: bold;
}

#aboutMePurpleDiv {
    display: none;
}

#skillsPurpleDiv {
    display: none;
}

#portfolioPurpleDiv {
    display: none;
}

.activeAboutMe {
    #aboutMePurpleDiv {
        display: flex;
    }
}

.activeSkills {
    #skillsPurpleDiv {
        display: flex;
    }
}

.activePortfolio {
    #portfolioPurpleDiv {
        display: flex;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000; 
}

.x {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .header_overlay {
    display: none;
  }
}