<div id="greenLine"></div>
<section class="flexCenterColumn" id="footer">
  <div class="footer content">
    <div class="lineHeight">

      <div (click)="scrollToKristian()" id="name">
        <img id="kcLogo" src="../../assets/img/Kristian_Cebic_Logo.png" alt="KC Logo">
      </div>

      <div id="impressum">
        <a routerLink="/impressum">{{ "Impressum" | translate }}</a>
        <div class="blueLine"></div>
      </div>
    </div>

    <div id="cebic">© Kristian Cebic 2025</div>
    
    <div style="display: flex; justify-content: flex-end;">
      <div class="socialMediaFooter">
        <img
          class="socialMediaImg"
          src="assets/img/github_button.svg"
          (click)="liveTest('https://github.com/KristianCebic')"
        />
        <img
          (click)="scrollToContainer('contact')"
          class="socialMediaImg"
          src="assets/img/email button.svg"
          alt=""
        />
        <img
          class="socialMediaImg"
          src="assets/img/linkedin button.svg"
          (click)="
            liveTest('https://www.linkedin.com/in/kristian-cebic-8b1ab424b/')
          "
        />
      </div>
    </div>
    
    <div id="impressum2" style="font-size: 16px">
      <a routerLink="/impressum">{{ "Impressum" | translate }}</a>
      <div class="blueLine blueLine2"></div>
    </div>
  </div>
</section>
