<div id="div1">
  <div class="purpleLine2"></div>

  <div id="socialMedia">
    <img
      id="social_media1"
      class="socialMediaImg"
      src="../../assets/img/social_media1.png"
      alt=""
    />
    <img
      (click)="scrollToContainer('contact')"
      class="socialMediaImg"
      src="../../assets/img/social_media2.png"
      alt=""
    />
    <img
      class="socialMediaImg"
      src="../../assets/img/social_media3.png"
      alt=""
    />
    <div id="email" class="font_size14" (click)="scrollToContainer('contact')">kristian.cebic13&#64;gmail.com</div>
  </div>
</div>




<div id="aboutMe">
  <div id="div2" class="text">
    <h1>About me</h1>
    <img
      class="backGroundShadow"
      src="../../assets/img/Purple shadow 2.png"
      alt=""
    />
    <div id="textAboutMe">
      <div>
        I am a fully trained chef from Switzerland with a rich background in the
        culinary arts. After extensive research to identify the next step in my
        learning journey, I discovered a profound interest in web development.
        This led me to join the Developer Academy, where I uncovered a second
        passion. With a newfound dedication, I have decided to pursue a position
        as a web developer in Zurich. Throughout my culinary career, I have honed
        vital skills such as teamwork, problem-solving, and creativity,
        particularly under the high-pressure environment of a busy kitchen. These
        skills translate seamlessly into web development, where they contribute
        significantly to my ability to work collaboratively on technical solutions
        and innovative projects.
      </div>
      <div class="personalText">
        <img  src="../../assets/img/glühbirne.svg" />
        <span
          >Disciplined and driven, I am a man who aspires to continuous
          improvement and constant learning. Embracing growth as my personal
          philosophy, I am ready to tackle any challenge that comes my way.</span
        >
      </div>
      <div class="personalText">
        <img src="../../assets/img/puzzle.png" alt="" />
        <span
          >With a strong foundation in teamwork and an adaptive mindset, I possess
          the ability to thrive in fast-paced environments. My experience in the
          culinary field, where precision and timing are crucial, has prepared me
          to enter the world of web development with the same efficiency and
          attention to detail.</span
        >
      </div>
    </div>
  </div>
 
  <div id="parentHeadDiv">
    <div id="headDiv">
      <img id="head" src="../../assets/img/head.png" alt="">
    </div>
    <div id="greenLine"></div>
  </div>
</div>

