<div id="aboutMe">
  <div class="maxWidth">
    <div id="div2" class="text">
      <h1>{{ "About me" | translate }}</h1>
      <img
        class="backGroundShadow"
        src="assets/img/Purple shadow 2.png"
        alt=""
      />
      <div id="textAboutMe">
        <div style="position: relative; z-index: 2000;">{{ "AboutMeText" | translate }}</div>
        <div class="personalText">
          <img class="padding10" src="assets/img/glühbirne.svg" />
          <span>{{ "AboutMeText2" | translate }}</span>
        </div>
        <div class="personalText">
          <img class="padding10" src="assets/img/puzzle.png" alt="" />
          <span>{{ "AboutMeText3" | translate }}</span>
        </div>
      </div>
    </div>
  
    <div id="parentHeadDiv">
      <div id="headDiv">
        <img id="head" src="assets/img/zugeschnittenes_Profil_Bild_ohne_Hintergrund.png" alt="" />
      </div>
      <div id="greenLine"></div>
    </div>
  </div>
</div>
