<section id="contact">
  <div class="flexAlignCenter" style="gap: 6px">
    <div class="purpleLine"></div>
    <h1>{{ "Contact" | translate }}</h1>
  </div>

  <img
    class="shadow"
    src="assets/img/shadows/greenShadowRightSide.png"
    alt=""
  />

  <div class="padding column flex paddingLeftAndRight">
    <div>
      <h2>{{ "Got a problem to solve?" | translate }}</h2>
      <div class="text">
        {{ "contactMe" | translate }}
      </div>
      <div class="text">
        {{ "Need a Frontend developer?" | translate }}
        <span>{{ "Contact me!" | translate }}</span>
      </div>
    </div>

    <div class="form-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          [(ngModel)]="contactData.name"
          name="name"
          id="nameInput"
          type="text"
          placeholder="{{ 'Your name' | translate }}"
          required
        />
        <input
          [(ngModel)]="contactData.email"
          name="email"
          id="emailInput"
          type="email"
          placeholder="{{ 'Your email' | translate }}"
          required
        />
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          name="message"
          id="messageInput"
          placeholder="{{ 'Your message' | translate }}"
          required
        ></textarea>

        @if (!message.valid && message.touched && !message.disabled) {
          <span>Please enter a message</span>
        }

        <div class="checkbox-container">
          <input
            (click)="activateTheSendMessageButton()"
            type="checkbox"
            id="privacyPolicy1"
            required
          />
          <label for="privacyPolicy">
            {{ "I have read the" | translate }}
            <span id="privacyPolicy2">{{ "privacy policy" | translate }}</span>
            {{
              "and agree to the processing of my data as outlined." | translate
            }}</label
          >
        </div>
        <div class="flex_center">
          <button id="sendMessage" class="sendMessageButton" type="submit">
            {{ "Send message" | translate }}
          </button>
        </div>
      </form>
      <div class="flexEnd">
        <div id="goUpButton" (click)="scrollToContainer('myPicture')">
          <img src="assets/img/symbol/arrowUp.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <img class="purpleShadow" src="assets/img/shadows/purpleShadow.png" alt="" />
</section>
