<section id="firstSection">
  <div id="myPicture">
    <img id="photo_shadows" src="../../assets/img/photo shadows.png" />
    <img
      class="background"
      style="z-index: -999; position: absolute;"
      src="../../assets/img/background_2.png"
      alt=""
    />
    <img
      id="myPictureIMG"
      src="../../assets/img/Bewerbungsfoto_Ohne_Hintergrund.png"
    />
  </div>

  <div id="introduction">
    <div class="introduction">
      <div class="vertical-text" i18n>I am</div>
      <div id="second-container">
        <div id="name">Kristian Cebic</div>
        <div id="special-text" i18n>FRONTEND DEVELOPER</div>
      </div>
    </div>

    <div id="letsTalkDiv" class="button" (click)="scrollToContainer('contact')" i18n>Let's talk!</div>
  </div>
</section>
