<section id="firstSection">
  <img
    class="background"
    src="assets/img/background_2.png"
  />

  <div id="myPicture">
    <img id="photo_shadows" src="assets/img/photo shadows.png" />
    <img
      id="myPictureIMG"
      src="assets/img/Bewerbungsfoto.png"
    />
  </div>

  <div id="introduction">
    <div class="introduction">
      <div class="vertical-text">
        {{ "I am" | translate }}
      </div>
      <div id="second-container">
        <div id="name">Kristian Cebic</div>
        <div id="special-text">{{ "FRONTEND DEVELOPER" | translate }}</div>
      </div>
    </div>

    <div id="letsTalkDiv" class="button" (click)="scrollToContainer('contact')">
      {{ "talk!" | translate }}
    </div>
  </div>

  <div class="scrollDown">
    {{'Scroll down' | translate}} ->
  </div>
</section>
