<div id="imprint">
  <h2>Impressum</h2>
  <p>Angaben gemäß § 5 TMG</p>
  <p>
    Kristian Cebic<br />
    Musterweg 1<br />
    12345 Musterstadt<br />
    Deutschland
  </p>
  <h3>Kontakt</h3>
  <p>
    Telefon: +49 123 4567890<br />
    E-Mail: 
  </p>
  <h3>Umsatzsteuer-ID</h3>
  <p>
    Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
    DE123456789
  </p>
  <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>
  <p>
    Kristian Cebic<br />
    Anschrift wie oben
  </p>
</div>
