#impressumComponent {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

#impressumComponent::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

#cebic {
  font-size: 23px;
  font-weight: 400;
}

img {
  height: 29.26px;
}

h1 {
  margin-bottom: 0;
  cursor: pointer;
  font-size: clamp(2rem, 5vw, 3rem);
}

.socialMediaFooter {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  gap: 15%;
  img {
    &:hover {
      transition: transform 0.1s ease-in-out;
      transform: scale(1.3);
    }
  }
}

.socialMediaImg {
  cursor: pointer;
}

.lineHeight {
  line-height: 30px;
}

.blueLine {
  display: none;
  background-color: rgb(23, 190, 231);
  width: 50px;
  height: 2px;
}

@media screen and (min-width: 1024px) {
  #impressum2 {
    display: none;
  }

  .flexCenterColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .socialMediaFooter {
    width: 15vw;
  }
}

.grid {
  text-align: left;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
  max-width: 1920px;
  width: 100%;
  font-weight: 400;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  display: flex;
  justify-content: center;
}



#mainSectionImpressum {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSectionImpressum::-webkit-scrollbar {
  display: none;
}

@media screen and (max-height: 610px) {
    .grid {
      margin-top: 5%;
    }
}