.mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.purpleLine2 {
  position: absolute;
  right: 0;
  width: 6vw;
}

.getInTouchButton1 {
  display: flex; justify-content: center; margin-top: 40px;
}

.getInTouchButton2 {
  display: none; justify-content: center; margin-top: 40px;
}

.img {
    &:hover {
      transition: transform 0.1s ease-in-out;
      transform: translateY(-10px);
    }
}

#mySkillsSection {
  display: flex;
  justify-content: center;
  position: relative;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1920px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  margin: 20px; 
  margin-left: 0;
  img {
    height: 45px;
  }
}

.line-height {
  line-height: 50px;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 35px;
  margin-left: 30px;
}

.fontsOfMySkills {
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
}

#mySkillsH1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

#getInTouch {
  width: 140px;
}

@media screen and (min-width: 1024px) {
  section {
    display: flex;
    flex-direction: row-reverse;
  }

  #mySkillsH1 {
    width: 100%;
  }

  .grid {
    width: 50%;
  }

  .purpleLine2 {
    width: 10%;
  }
}

.mySkillsText {
  text-align: right; 
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  padding: 0;
  padding-right: 0px;
}

@media screen and (max-width: 1200px) {
  .getInTouchButton1 {
    display: none;
  }

  .getInTouchButton2 {
    display: flex;
  }

  .rowReverse {
    flex-direction: column;
    align-items: center;
  }

  .getInTouchButton {
    display: flex;
    justify-content: center;
  }

  .grid {
    margin: 0;
    width: 100%;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.setTextInTheMiddle {
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .purpleLine2 {
    width: 15%;
  }
}

@media screen and (min-width: 1201px) {
  .purpleLine2 {
    width: 9%;
  }
}

@media screen and (min-width: 2550px) {
  .purpleLine2 {
    width: 11%;
  }
}

@media screen and (min-width: 2700px) {
  .purpleLine2 {
    width: 13%;
  }
}

@media screen and (min-width: 2900px) {
  .purpleLine2 {
    width: 15%;
  }
}

@media screen and (min-width: 3200px) {
  .purpleLine2 {
    width: 18%;
  }
}

@media screen and (min-width: 3400px) {
  .purpleLine2 {
    width: 20%;
  }
}

@media screen and (min-width: 3600px) {
  .purpleLine2 {
    width: 23%;
  }
}